body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
  color: #4e1e4a;
  background: linear-gradient(to right top, #0460ff, #5e00c9 50%, #6b00a8 70%);
  height: 100vh;
}

.todo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-width: 900px;
  margin: 15px auto;
}

.heading {
  align-self: center;
  width: fit-content;
  font-size: 2rem;
  font-weight: 800;
  padding: 10px 20px;
  margin: 40px;
  border-radius: 10px;
  color: inherit;
  background: linear-gradient(45deg, #f8e557 25%, #ffcc7a 75%);
}

.todo__input {
  position: relative;
  align-self: center;
}

.todo__text {
  width: 700px;
  padding: 6px 34px 6px 10px;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: 1px solid #eeecb6;
  border-radius: 5px;
}

.todo__add {
  position: absolute;
  z-index: 999;
  top: 50%;
  right: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: #7ef311;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.todo__add:hover {
  background-color: #6ad903;
}

.todo__add .bi-calendar-plus {
  transform: translateY(-10%);
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.todo__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 10px;
  width: 90vw;
}

.todo__item {
  position: relative;
  margin: 5px;
  padding: 10px 5px;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(45deg, #f8e557 25%, #ffcc7a 75%);
  z-index: 999;
}

.todo__item-check {
  padding: 5px;
  z-index: 999;
}

.todo__task {
  font-family: inherit;
  color: inherit;
  transition: text-decoration 100ms ease-in-out;
}

.todo__task:active {
  text-decoration: line-through;
  text-decoration-color: #a32d60;
}

footer {
  width: 100%;
  position: fixed;
  background-color: #f1bdf194;
  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  bottom: 0;
}

footer p {
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 1.25rem;
}
