body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	color: #373737;
	background: linear-gradient(to right top, rgb(4, 96, 255), rgb(94, 0, 201) 50%, rgb(107, 0, 168) 70%);
	height: 100vh;
}

.todo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	max-width: 900px;
	margin: 15px auto;
}

.heading {
	align-self: center;
	width: fit-content;
	font-size: 25px;
	padding: 0 20px;
	margin: 20px;
	border-radius: 10px;
	background: linear-gradient(45deg, rgb(248, 229, 87) 25%, rgb(255, 204, 122) 75%);
}

.todo__input {
	position: relative;
	align-self: center;
}
  
.todo__text {
	width: 700px;
	padding: 6px 34px 6px 10px;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	border: 1px solid #eeecb6;
	border-radius: 5px;
}
  
.todo__add {
	position: absolute;
	z-index: 999;
	top: 50%;
	right: 5px;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	background-color: #7ef311;
	transform: translateY(-50%);
	cursor: pointer;
	transition: background-color 0.15s ease-in;
	
	&:hover {
		background-color: #6ad903;
	}
	
	.bi-calendar-plus {
		transform: translateY(-10%);
		vertical-align: middle;
		width: 25px;
		height: 25px;
	}
}

.todo__items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
	margin: 10px;
	width: 90vw;
}

.todo__item {
	position: relative;
	margin: 5px;
	padding: 10px 5px;
	overflow: hidden;
	border-radius: 10px;
	background: linear-gradient(45deg, rgb(248, 229, 87) 25%, rgb(255, 204, 122) 75%);
	z-index: 999;
}

.todo__item-check {
	padding: 5px;
	z-index: 999;
}

.todo__task {
	font-family: inherit;
	color: inherit;
	transition: text-decoration 300ms ease-in-out;

	&:active {
		text-decoration: line-through;
		text-decoration-color: #373737;
	}
}